main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pergunta {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.pergunta img {
  margin: 1rem;
  border-radius: 16px;
}

.teste {
  width: 501px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #c4c4c4;
  border-radius: 12px;
}

.teste div {
  background-color: #f0f0f0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color .3s ease-in-out, width .3s ease-in-out;
}

.teste div h1 {
  margin-left: 1rem;
}

.teste div.acertou {
  background-color: #039B00;
}

.teste div.errou {
  background-color: #FF0000;
}

.bloqueado {
  pointer-events: none;
}


.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}