main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pergunta {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.pergunta img {
  margin: 1rem;
  border-radius: 16px;
}

.opcao {
  width: 501px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #c4c4c4;
  border-radius: 12px;
}

.opcao div {
  background-color: #f0f0f0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color .3s ease-in-out, width .3s ease-in-out;
}

.opcao div h1 {
  margin-left: 1rem;
}

.opcao div.acertou {
  background-color: #039B00;
}

.opcao div.errou {
  background-color: #FF0000;
}

.next {
  display: none;
}

.next button {
  cursor: pointer;
  font-size: 1rem;
  width: 250px;
  height: 35px;
  margin-top: 1rem;
  border-radius: 12px;
  border: 2px solid #039B00;
  background: transparent;
  transition: all .2s ease-in-out;
}

.next button:hover {
  background-color: #039B00;
  transform: scale(1.2);
  font-weight: 700;
}

.bloqueado {
  pointer-events: none;
}


.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}